*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-gtid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: minmax(120px, auto) repeat(7, 100px);
}

.calculator-gtid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-gtid > button:hover {
  background: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}
.span-five {
  grid-column: span 5;
}

.span-five p {
  padding: 0 0 10px;
  margin: 0;
  color: #ffffff;
}

.span-five a {
  color: #222222;
  text-decoration: none;
}
.span-five a:hover {
  text-decoration: underline;
}

.row-span-two {
  grid-row: span 2;
}

.output {
  grid-column: 1 / -1;
  background: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previos-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
}